<style type="text/css">

		.matchline {
			border-width: 1px;
			border-style: solid;
			border-color: gray;
			background-color: yellow;
			margin-top: -17px;
			margin-bottom: -32px;
			padding-top: 0px;
			padding-bottom: 0px;
		}
		
		.matchline pre {
			margin-top: -15px;
			margin-bottom: 0px;
			padding-top: 0px;
			padding-bottom: -5px;
		}
		
		.vfpcode{
			color: black;
		}
		
		.vfpreserved{
			color: black;
		}
		
		.vfpcomment{
			color: black;
		}
		
		.vfpliteral{
			color: black;
		}
		
		.vfpstring{
			color: black;
		}
			
</style>

